.footer {
  background-color: #f9f9f9;
  padding-left: 80px;
  padding-top: 30px;
  padding-right: 80px;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 30px;
  overflow-x: hidden;
}

.logo img {
  height: 17px;
  width: 130px;
  margin: 0;
  padding: 0;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}

.footer-brand {
  max-width: 250px;
  margin-right: 40px;
  margin-left: 50px;
  margin-top: 25px;
}

.footer-brand h2 {
  color: #387ed1;
  font-size: 20px;
}

.footer-brand p {
  margin: 10px 0;
  font-size: 13px;
  color: #777;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
  margin-top: 20px;
}

.social-icons:hover {
  color: #387ed1;
}

.footer-links {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  flex: 1;
  margin-left: 50px;
  color: #333;
}

.footer-links h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #222;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 8px;
  color: #555;
  cursor: pointer;
}

.footer-links li:hover {
  text-decoration: none;
  color: #387ed1;
}

.footer-bottom {
  margin-top: 40px;
  font-size: 11px;
  color: #aeacac;
  line-height: 2.0;
}

.footer-bottom a {
  color: #387ed1;
  text-decoration: none;
}

.footer-links-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.footer-links-bar a {
  color: #888;
  font-size: 13px;
  text-decoration: none;
}

.footer-links-bar a:hover {
  text-decoration: none;
  color: #387ed1;
}

